.download {
    display: flex;
    flex-direction: row;    
    width: 30%;
}

.googleimage {
    width: 140px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 2.5rem;
}

.parkingImage {
    display: flex;
    width: 50%;
}

.wraper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.textwraper {
    width: 50%;
}

.imageWraper {
    width: 50%;
}

