.container {
    background-color: #06433E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile, .moreinfo {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-align: center;
}

.profile img {
    max-width: 100%;
    height: auto;
    margin-bottom: 18px;
}

.profile {
    margin-top: 48px;
}

.profilename  {
    font-size: 23px;
    font-weight: 600;
}

.moreinfo {
    margin-bottom: 48px;
}

.moreinfo .title {
    font-size: 36px;
    font-weight: 600;
}

.subTitle {
    padding-bottom: 18px;
}

.buttonContainer {
    padding-top: 28px;
}

.buttonContainer button:hover {
    background-color: grey;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .profile, .moreinfo {
        flex: 1;
        max-width: none;
        padding-top: 24px;
        padding-bottom: 48px;
    }

    .moreinfo {
        align-items: flex-start;
        text-align: left;
        padding-top: 24px;
    }

    .title {
        padding: 48px 0 18px;
    }

    .buttonContainer {

    }
}