@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tehe are Bedir's costum classes for Home-Hero aria */
.custom-height-home-hero {
  height: calc(100vh - 4rem);
}

.custom-hover-home-hero-contact-us-button {
  transition: all 0.2s ease;
}

.custom-hover-home-hero-contact-us-button:hover {
  background-color: #06433e;
  color: #fff;
  box-shadow: rgba(251, 251, 251, 0.35) 0px 5px 15px;
}
.custom-hover-home-hero-download-button {
  transition: all 0.2s ease;
}

.custom-hover-home-hero-download-button:hover {
  background-color: #868686;
  color: #fff;
  box-shadow: rgba(251, 251, 251, 0.35) 0px 5px 15px;
}

.box-hover-shadow:hover {
  box-shadow: rgba(251, 251, 251, 0.35) 0px 5px 15px;
}

.shadow-hoverWhite {
  box-shadow: #ffffff9c 1px 1px 14px;

}
/* Tehe are Bedir's costum classes for Home-Hero aria */

.bg-radial-gradient {
  background-image: radial-gradient(circle, #45f8a4,  #00301e);
}

.scale-animation {
  animation: scaleCycle 3s infinite linear;
  display: inline-block; 
}

@keyframes scaleCycle {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}
/* Hide the spin buttons in the number input field */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Hide the spin buttons in Firefox */
}

header.z-40 {
  padding-left: 0;
  padding-right: 0;
  max-width: 1350px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-ul-basis {
flex-basis: auto !important;
justify-content: center !important;
}

.left-25 {
left: -18px !important;
}

a.active {
  font-weight: 700;
}